@tailwind base;
@tailwind components;
@tailwind utilities;

#hover {
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.249);
}
#hover:hover #hoverable {
  background-color: #f59e0b;
  color: white;
}
#ServiceHover:hover #Shoverable {
  transform: translateX(50%);
}
#Phover:hover #Phoverable{
  height: 100%;
}